.header-main {
    height: 35px;
    background-color: rgba(16, 14, 11, 0.85);
    width: 100%;
}

.logo-text {
    font-family: 'Yesteryear', cursive;
    color: whitesmoke;
    float: left;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

.header-links {
    float: right;
    margin-top: 10px;
}

.header-links a {
    margin: auto 10px;
    color: white;
}

.header-links a.active {
    color: grey;
}

.header-links a:link {
    color: grey;
}

.table > tbody > tr > th.first-column {
    padding-left: 15px;
}

.table > tbody > tr > td.first-column {
    padding-left: 15px;
}

.table > tbody > tr > th.last-column {
    padding-right: 15px;
    text-align: right;
}

.table > tbody > tr > td.last-column {
    padding-right: 15px;
    text-align: right;
}

.dark {
    font-size: 11px;
    color: white;
    background-color: #3c3c3c;
    text-transform: uppercase;
}

.white {
    background-color: white;
}

body {
    background-color: whitesmoke;
    font-size: 11px;
}

.pagination li:first-child a, .pagination li:last-child a, .pagination a {
    border-radius: 25px;
}

.pagination-custom {
    text-align: center;
}

.create-user-form {
    width: 60%;
}

.row {
    margin-top: 30px;
}

.create-user-form input, .create-user-form select {
    border-radius: 25px;
    border: none;
}

.col-sm-1 a span {
    border-radius: 25px;
    padding: 10px;
    color: white;

}

.glyphicon-trash, .glyphicon-pencil {
    border-radius: 25px;
    padding: 8px;
    color: white;
}

.col-sm-3 button {
    background-color: lightseagreen;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.filter_by_name {
    border-radius: 25px;
    border: none;
    height: 32px;
    width: 180px;
    margin-left: -25px;
    padding-left: 25px;
    color: grey;
}

.glyphicon-plus, .glyphicon-menu-left, .glyphicon-trash {
    background-color: red;
}

.glyphicon-plus {
    font-weight: 100;
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.asteriskField {
    color: red;
}

.create-user-form label {
    float: left;
}

h4 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

#dropdown-pagination {
    border-radius: 25px;
    border: none;
    width: 80px;
}

.btn span.caret {
    margin-left: 20px;
}

#submit-id-submit {
    float: right;
    border-radius: 25px;
    background-color: lightgreen;
    border: none;
    color: white;
}

.glyphicon-pencil {
    background-color: lightgreen;
}

.status_active {
    color: green;
    text-transform: capitalize;
}

.status_inactive {
    color: red;
    text-transform: capitalize;
}

.button-add-course {
    background-color: lightgreen;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
}

#message {
    right: 5px;
    position: absolute;
    width: 18%;
    background-color: white;
    border-radius: 25px;
    height: 45px;
    text-align: center;
    margin-top: 27px;
    border: 1px solid lightgreen;
    color: lightgreen;
    font-size: medium;
}
.custom-course{
    border-bottom: 1px solid;
    background-color: whitesmoke;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.custom-course a{
    float: right;
}