{% extends 'index.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12"><h4>COURSES</h4></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tr class="dark">
                    <th class="first-column">Name</th>
                    <th>Code</th>
                </tr>
                {% for course in courses %}
                    <tr class="white">
                        <td class="first-column">{{ course.1 }}</td>
                        <td>{{ course.0 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}