{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if message %}
        <div class="alert alert-success" id="message" role="alert"><p>{{ message }}</p></div>
    {% endif %}

    <div class="row">
        <div class="col-sm-1">
            <a class="pull-left" href="{% url 'index' %}"><span class="glyphicon glyphicon-menu-left"></span> </a>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="create-user-form ">
                {% block title %}
                    <h4 class="text-center">CREATE USER</h4>
                {% endblock %}
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    {% if message %}
        <script>
            $('document').ready(function () {
                setTimeout(function () {
                    window.location = '{% url 'index' %}'
                }, 3000)
            })
        </script>
    {% endif %}
{% endblock %}
