{% extends 'create_user.html' %}
{% load static %}

{% block title %}
    <h4 class="text-center">CHANGE USER</h4>
{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-success" id="message" role="alert"><p>{{ message }}</p></div>
    {% endif %}
    {{ block.super }}
    <div class="selected-courses">

    </div>
{% endblock %}
{% block custom_js %}
    {% if message %}
        <script>
            $('document').ready(function () {
                setTimeout(function () {
                    window.location = '{% url 'index' %}'
                }, 3000)
            })
        </script>
    {% endif %}
    {% if user_courses %}
        <script>
            $('document').ready(function () {
                {% for user_course in user_courses %}
                    $('#id_course  option[value="{{ user_course.0}}"]').remove();
                    $('#div_id_course').append("<p id='{{ user_course.0 }}' class='custom-course'><input type='hidden'  name='selected_courses' " +
                            "value='{{ user_course.0 }}'>{{ user_course.1 }}<a href='#' class='remove_course'>" +
                            "<span class='glyphicon glyphicon-remove-circle'></span></a></p>");
                {% endfor %}
                if ($(":input[name='selected_courses']").length == 5) {
                    $('#button-id-add').css('display', 'none');
                }
            })
        </script>
    {% endif %}
{% endblock %}