{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static  "css/bootstrap/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static  "css/custom_style.css" %}"/>
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
</head>
<body>

<div class="header-main">
    <div class="container">
        <h4 class="logo-text">Test for You</h4>

        <div class="header-links">

            <a class="{% if request.resolver_match.url_name != "courses" %}active{% endif %}"
               href="{% url 'index' %}">Users</a>
            <a class="{% if request.resolver_match.url_name == "courses" %}active{% endif %}"
               href="{% url 'courses' %}">Courses</a>

        </div>
    </div>
</div>
<div class="container">
    {% block content %}
        <div class="row">
            <div class="col-sm-1">
                <a href="{% url 'create_user' %}"><span class="glyphicon glyphicon-plus"></span> </a>
            </div>
            <div class="col-sm-3">
                <form class="form-inline" method="get" action=".">
                    <button type="submit" class="glyphicon glyphicon-search"></button>
                    <input type="text" class="filter_by_name" name="filter_by_name" value="{{ filter_name }}">

                </form>
            </div>
            <div class="col-sm-6">
                <h4 class="text-center">USERS</h4>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-pagination"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ number }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for number in items_number %}
                            <li>
                                <a href="?number={{ number }}">{{ number }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr class="dark">
                        <th class="first-column">Name</th>
                        <th>E-mail</th>
                        <th>Status</th>
                        <th class="last-column">Action</th>
                    </tr>
                    {% for user in users %}

                        <tr class="white">
                            <td class="first-column">{{ user.1 }}</td>
                            <td>{{ user.2 }}</td>
                            <td class="status_{{ user.3 }}">{{ user.3 }}</td>
                            <td class="last-column">
                                <a href="{% url 'edit_user' user.0 %}"><span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="{% url 'delete_user' user.0 %}"><span
                                        class="glyphicon glyphicon-trash"></span> </a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav class="pagination-custom" aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in users.paginator.page_range %}

                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                        <li>
                            <a href="?page={{ page }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endblock %}
</div>

</body>
<script src="{% static  "js/jquery-1.12.3.min.js" %}"></script>
<script src="{% static  "js/bootstrap/bootstrap.min.js" %}"></script>
<script src="{% static  "js/custom.js" %}"></script>
{% block custom_js %}
{% endblock %}
</html>